@use '_base' as *;

@mixin screensize($size) {
  @if $size == mobile {
    @media (max-width: 750px) {
      @content;
    }
  }
}

/*  header */
header {
  padding: 1rem 0;
  background: white;
  box-shadow: $shadow;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {

    a {
      display: flex;
      align-items: center;
    }

    img {
      height: 50px;
      width: auto;
      display: block;
    }

  }

  .menu {
    list-style: none;
    display: flex;
    gap: 1rem;

    li a {
      text-decoration: none;
      color: inherit;
      padding: 4px 8px;
      border-radius: 12px;
      margin-bottom: 0;

      &:hover {
      background-color: darken($light-bg, 10%);
      text-decoration: underline;
     }

    }

  }

}

/* Mobile nav & burger */
.burger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
}

body.dark .burger {
  color: $light-text;
}

@include screensize(mobile) {
  header {

    .menu {
      display: none;
      flex-direction: column;
      margin-top: 1rem;
      position: absolute;
      right: 2rem;
      top: 4rem;
      background-color: $light-bg;
      border: 1px solid $light-text;
      padding: 1rem;
    }

    .menu.show {
      display: flex;
    }

    .burger {
      display: block;
    } 

  }

}

#dark-toggle {
  cursor: pointer;
}


/* buttons */

.btn {
  padding: 0.75rem 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: $radius;
  border:none;
  background: $primary;
  color: white;
  width: 100%;
  margin-top: 1rem;
  transition: 0.2s ease;

  &:hover {
    background: darken($primary, 10%);
    transform: translateY(-2px);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }
}

body.dark .btn {
  background-color: $dark-bg;
  color: $dark-text;
  border-color: $dark-text;
}

// wheel
.wheel {
  width: 220px;
  aspect-ratio: 1;
  margin: 0 auto 1rem auto;
  border-radius: 50%;

  background-image: url("/img/wheel.png");
  background-image: image-set(
    url("/img/wheel.webp") type("image/webp"),
    url("/img/wheel.png") type("image/png")
  );
  background-size: cover;
  background-position: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

// break instruction text
.instructionsBox p {
  white-space: pre-line;
}

.spin {
  animation: spinWheel 1.25s ease-out;
}

@keyframes spinWheel {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

// cards
.imageBox,
.titleBox,
.ingredientsBox,
.instructionsBox,
.actionBox,
.countryBox,
.mapBox {
  background: #fff;
  border-radius: $radius;
  padding: 1rem;
  box-shadow: $shadow;
}

// recipe image
.imageBox img, .countryBox img {
  width: 100%;
  border-radius: $radius;
  object-fit: cover;
}

.countryBox img {
  border: 1px solid black;
}

//map iframe
.mapBox iframe {
  border-radius: $radius;
  width: 100%;
  height: 300px;
}

// List
ul {
  padding-left: 1.2rem;
}

li {
  margin-bottom: 0.3rem;
}