@use '_base' as *;

@mixin screensize($size) {
  @if $size == mobile {
    @media (max-width: 750px) {
      @content;
    }
  }
}

/*  header */
header {
  padding: 1rem 0;
  background: white;
  box-shadow: $shadow;

  .logo a {
    text-decoration: none;
    font-weight: 700;
    color: $light-text;
    font-size: 1.2rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    list-style: none;
    display: flex;
    gap: 1rem;

    li a {
      text-decoration: none;
      color: inherit;
      padding: 4px 8px;
      border-radius: 12px;

      &:hover {
      background-color: darken($light-bg, 10%);
      text-decoration: underline;
     }

    }

  }

  body.dark .menu  {
    background-color: $dark-bg;
    border: 1px solid $dark-text;
  }

  body.dark .menu li a:hover {
    background-color: darken($dark-bg, 10%);
  }
}

/* Mobile nav & burger */
.burger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
}

body.dark .burger {
  color: $dark-text;
}

@include screensize(mobile) {
  header {

    .menu {
      display: none;
      flex-direction: column;
      margin-top: 1rem;
      position: absolute;
      right: 2rem;
      top: 4rem;
      background-color: $light-bg;
      border: 1px solid $light-text;
      padding: 1rem;
    }

    .menu.show {
      display: flex;
    }

    .burger {
      display: block;
    } 

  }

}

#dark-toggle {
  cursor: pointer;
}


/* buttons */

.btn {
  padding: 0.75rem 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: $radius;
  border:none;
  background: $primary;
  color: white;
  width: 100%;
  margin-top: 1rem;
  transition: 0.2s ease;

  &:hover {
    background: darken($primary, 10%);
    transform: translateY(-2px);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }
}

body.dark .btn {
  background-color: $dark-bg;
  color: $dark-text;
  border-color: $dark-text;
}

// wheel
.wheel {
  width: 220px;
  aspect-ratio: 1;
  margin: 0 auto 1rem auto;
  border-radius: 50%;

  background-image: url("/wheel.png");
  background-image: image-set(
    url("/wheel.webp") type("image/webp"),
    url("/wheel.png") type("image/png")
  );
  background-size: cover;
  background-position: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

// break instruction text
.instructionsBox p {
  white-space: pre-line;
}

.spin {
  animation: spinWheel 1.25s ease-out;
}

@keyframes spinWheel {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

// cards
.imageBox,
.titleBox,
.ingredientsBox,
.instructionsBox,
.actionBox,
.countryBox,
.mapBox {
  background: $card;
  border-radius: $radius;
  padding: 1rem;
  box-shadow: $shadow;
}

// recipe image
.imageBox img {
  width: 100%;
  border-radius: $radius;
  object-fit: cover;
}

//map iframe
.mapBox iframe {
  border-radius: $radius;
  width: 100%;
  height: 300px;
}

// List
ul {
  padding-left: 1.2rem;
}

li {
  margin-bottom: 0.3rem;
}





/* animation demo area */

.anim-demo {
  margin-bottom: 40px;
}

/* animation demo 1 */
#demo1-run {
  width: 240px;
  height: 120px;
  cursor: pointer;
}

#demo1-container {
  width: 480px;
  height: 120px;
  display: flex;
}

#demo1-cat {
  width: 120px;
  transition: transform 0.5s ease;
}

/* animation demo 2 */
#demo2-run {
  width: 240px;
  height: 120px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

#demo2-container {
  width: 480px;
  height: 120px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

#demo2-cat {
  position: absolute;
  left: 120px;
  bottom: 0;
  transition: transform 0.5s ease;
  z-index: 1;
  width: 120px;
}

#demo2-container.show {
  overflow: visible;
}

#demo2-container.show #demo2-cat {
  transform: translateX(100%);
}

/* animation demo 3 */

#demo3-run {
  width: 240px;
  height: 120px;
  cursor: pointer;
}

#demo3-container {
  width: 100%;
  height: 120px;
  display: flex;
}

#demo3-area {
  flex-grow: 1;
  height: 120px;
  position: relative;
  overflow: hidden;
  border: 2px solid #ccc;
}

#demo3-cat {
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
}

.idle {
  background-image: url("/src/img/OrangeTabby-Idle.png");
  animation: idleCat 1s steps(12) infinite;
}

@keyframes idleCat {

  from {
    background-position: 0 0;
  }

  to {
    background-position: -576px 0;
  }

}

.run {
  background-image: url("/src/img/OrangeTabby-Run.png");
  animation:
    runningCat 0.6s steps(6) infinite,
    movingCat 4s linear forwards;
}

@keyframes runningCat {

  from {
    background-position: 0 0;
  }

  to {
    background-position: -288px 0;
  }

}

@keyframes movingCat {

  from {
    left: 0;
  }

  to {
    left: 100%;
  }

}